{{#if this.groupedBooks.length}}
    <div class="yulib-books-container">
        {{#each this.groupedBooks as |group|}}
            <div class="yulib-book-group">
                <h4 class="yulib-group-title">{{group.statusTitle}}</h4>

                <div class="yulib-book-grid">
                    {{#each group.books as |book|}}
                        <div class="yulib-book-card">
                            <div class="book-cover">
                                {{#if book.full_cover_url}}
                                    <img src="{{book.full_cover_url}}" alt="{{book.book_name}}" loading="lazy" />
                                {{else}}
                                    <div class="no-cover">Нет обложки</div>
                                {{/if}}
                            </div>
                            <div class="book-info">
                                <div class="book-title" title="{{book.book_name}}">{{book.book_name}}</div>
                                <div class="book-author" title="{{book.author_name}}">{{book.author_name}}</div>
                            </div>
                        </div>
                    {{/each}}

                    {{!-- ИЗМЕНЕНИЯ ЗДЕСЬ --}}
                    {{#if group.showMoreCard}}
                        <a
                                href="#"
                                class="yulib-book-card more-card-link"
                            {{on "click" (fn this.openApp group.appUrl)}}
                        >
                            <div class="book-cover more-cover">
                                <span class="more-text">Больше в приложении</span>
                                {{d-icon "arrow-right" class="more-icon"}}
                            </div>
                            <div class="book-info">
                                <div class="book-title" style="color: var(--primary-medium); visibility: hidden;">.</div>
                            </div>
                        </a>
                    {{/if}}
                    {{!-- КОНЕЦ ИЗМЕНЕНИЙ --}}

                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p class="text-muted">В вашей библиотеке пока пусто.</p>
{{/if}}